@font-face {
  font-family: 'Ruthie';
  src: url('./assets/fonts/ruthie/Ruthie-Regular.ttf');
}

@font-face {
  font-family: 'SimplySans';
  src: url('./assets/fonts/simply-sans/SimplySans-Book.ttf');
}


:root {
  --primary-color: #ffe2e2;
  --accent-color: rgb(241, 204, 204);
  --delete-color: rgb(200, 0, 0);
}

body {
  font-family: 'SimplySans';
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}
.welcome-image {
  height: 30vh;
  border-radius: 40%;
  object-fit: contain;
}

.home-description {
  line-height: 2;
}

.shopping-container {
  display: grid;
  text-align: center;
  gap: 10px;
}

.page-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  place-items: center;
  gap: 25px;
}

nav {
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 5vh;
  font-size: x-large;
}

.nav-container {
  top: 0;
  margin-bottom: 10px;
  position: sticky;
}

.homepage-container {
  display: grid;
  place-items: center;
  text-align: center;
  text-wrap: balance;
  gap: 5vh;
  padding: 5%;
}

.homepage-container img {
  height: 26vh;
}

.welcome {
  font-family: 'Ruthie';
  font-size: 4rem;
}

.item-card, .cart-card {
  background-color: rgb(255, 245, 245);
  height: 375px;
  width: 300px;
  border: 2px solid rgb(0, 0, 0);
  border: 1px solid var(--accent-color);
  padding: 10px;
  display: grid;
  gap: 10px;
  place-items: center;
}

.item-picture {
  width: 175px;
  height: 175px;
}

button {
  --initial-color: #017dd0;
  --hover-color: rgb(0, 183, 0);
  --pressed-color: #555;
  background-color: var(--initial-color);
  color: #fff;
  padding: 12px 40px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: 0.2s all;
}

button:hover {
  background-color: var(--hover-color);
}

button:active {
  background-color: var(--pressed-color);
  transform: scale(0.96);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.input-container {
  display: flex;
  place-items: center;
  gap: 10px;
}
input {
  width: 35px;
}

.shopping-button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.shopping-button-container button{
  width: 50%;
}

.update-button {
  background-color: rgb(0, 200, 0);
}

.delete-button {
  background-color: var(--delete-color);
}

.cart-page-container {
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
  gap: 20px;
}

.price-display {
  display: grid;
  gap: 10px;
}

.error-page {
  display: flex;
  color: rgb(255, 0, 0);
  flex-direction: column;
  place-items: center;
  text-align: center;
  margin-top: 50%;
  margin-left: 10%;
  margin-right: 10%;
  gap: 50px;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

h4 {
  font-size: small;
}