.page-body {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: auto;
  place-items: center;
  text-align: center;
  gap: 25px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: antiquewhite;
  width: 100vw;
  height: 5vh;
  font-size: x-large;
}

.nav-container {
  margin-bottom: 10px;
}

.item-card {
  background-color: rgb(255, 239, 239);
  width: 300px;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-items: center;
}

.item-picture {
  width: 175px;
  height: 175px;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: larger;
}

h4 {
  font-size: small;
}